* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f0e8;
  max-width: 1440px;
}

main {
  min-height: 900px;
}

footer {
  margin-bottom: 0;
}

footer p {
  z-index: 100;
}

.invisible {
  display: none;
}

.container {
  margin: 90px;
  max-width: 1380px;
}

.logo {
  width: 180px;
  height: 112px;
  margin-bottom: 180px;
}

.description__welcome p {
  font-family: 'DM Serif Text', serif;
  font-size: 70px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #222222;
  margin-bottom: 23px;
}

.description__address p {
  font-family: 'Manrope', serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #191919;
  margin-bottom: 24px;
}

.description__date p {
  font-family: 'Manrope', serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 800;
  letter-spacing: 0.25em;
  color: #191919;
  margin-bottom: 39px;
}

.description__button button {
  width: 270px;
  height: 60px;
  border: 1px solid #bbc0c3;
  border-radius: 5px;
  background-color: #f6f0e8;
}

.description__button button span {
  font-family: 'Manrope', serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #222222;
}

/* images */

.images {
  position: absolute;
  top: 90px;
  right: 90px;
}

.images__main {
  width: 630px;
  height: 720px;
}

/* home-first */

.images__geometry-1 {
  position: absolute;
  left: 90px;
}

.images__floral {
  position: absolute;
  bottom: 0;
  right: 360px;
  z-index: -1;
}

.images__geometry-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.images__geometry-21 {
  position: absolute;
  bottom: 50px;
  right: -30px;
}

/* home-second */

.home-second .images__floral {
  position: absolute;
  top: -15px;
  right: 25px;
  z-index: 1;
}

.home-second .images__geometry-1 {
  position: absolute;
  top: 105px;
  left: 0;
}


.home-second  .images__geometry-2 {
  position: absolute;
  bottom: 0;
  right: 340px;
  z-index: -1;
}

.home-second .images__geometry-21 {
  position: absolute;
  bottom: 50px;
  right: 530px;
}

/* home-third */

.home-third .images__floral {
  position: absolute;
  top: 5px;
  right: -30px;
  z-index: 1;
}

.home-third .images__geometry-1 {
  position: absolute;
  top: 350px;
  left: 560px;
}


.home-third  .images__geometry-2 {
  position: absolute;
  bottom: 39px;
  right: 390px;
  z-index: -1;
}

.home-third .images__geometry-21 {
  position: absolute;
  bottom: 10px;
  right: 480px;
}

/* home-fourth */

.home-fourth .images__floral {
  position: absolute;
  bottom: 0;
  right: 330px;
  z-index: 1;
}

.home-fourth .images__geometry-1 {
  position: absolute;
  top: 10px;
  left: 7px;
}


.home-fourth  .images__geometry-2 {
  position: absolute;
  bottom: 542px;
  right: -10px;
}

.home-fourth .images__geometry-21 {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: -1;
}


/* form */

.form-page {
  display: flex;
  flex-direction: column;
  max-height: 900px;
  margin-bottom: -100px;
  margin-top: 200px;
}

.form-page__header {
  font-family: 'DM Serif Text', serif;
  font-size: 40px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #222222;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

form input {
  width: 450px;
  height: 60px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  padding-left: 30px;
}

form input ::placeholder {
  font-family: 'Manrope', serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #666666;
}

form select {
  background-color: #fff;
  width: 482px;
  height: 60px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

form select option {
  border: none;
  border-radius: 5px;
}

form button {
  font-family: 'Manrope', serif;
  width: 270px;
  height: 60px;
  border: 1px solid #bbc0c3;
  border-radius: 5px;
  background-color: #f6f0e8;
  letter-spacing: 0.025em;
  margin: auto;
  margin-top: 30px;
}

/* Form Images */

.form-page_images {
  overflow: hidden;
}

.form-page__images_shapes1o {
  position: absolute;
  left: 65px;
  bottom: -445px;
}

.form-page__images_shapes1o2 {
  position: absolute;
  left: 110px;
  bottom: -370px;
}

.form-page__images_shapes2 {
  position: absolute;
  right: 40px;
  bottom: -850px;
  z-index: 1;
}

.form-page__images_shapes3 {
  position: absolute;
  bottom: -1000px;
  margin-bottom: -20px;
  left: 30px;
  width: 440px;
}

.form-page__images_shapes4 {
  position: absolute;
  right: 0;
  bottom: -930px;
}

.form-page__images_shapes5 {
  position: absolute;
  right: 0;
  bottom: -400px;
}

.form-page__images_floral {
  position: absolute;
  left: 260px;
  bottom: -1020px;
}

/* footer */

footer {
  margin: 35px 90px;
}

.privacy {
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope', serif;
  font-size: 13px;
  line-height: 120px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222222;
  height: auto;
}

@media (max-width: 375px) {

  .container {
    margin: 30px;
    text-align: center;
  }

  .logo {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 75px;
    height: 46px;
  }

  .description__welcome p {
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .description__address p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  .description__date p {
    font-size: 11px;
    line-height: 25px;
    margin-bottom: 19px;
  }

  .description__button button {
    width: 200px;
    height: 40px;
  }
  
  .description__button button span {
    font-size: 12px;
    line-height: 30px;
  }

  .images {
    top: 368px;
    left: 52px;
  }

  .images__main {
    width: 270px;
    height: 310px;
  }

  /* Home First */
  .images__geometry-1 {
    left: 44px;
    width: 55px;
    height: 50px;
  }

  .images__floral {
    width: 120px;
    height: 85px;
  }

  .images__geometry-2 {
    left: 152px;
    width: 90px;
    height: 85px;
  }
  
  .images__geometry-21 {
    bottom: 15px;
    right: -20px;
    width: 42px;
    height: 32px;
  }

  /* Home Second */
  .home-second .images__geometry-1 {
    left: 10px;
    top: 27px;
    width: 55px;
    height: 57px;
  }

  .home-second .images__floral {
    width: 56px;
    height: 85px;
    left: 200px;
    top: -10px;
  }

  .home-second .images__geometry-2 {
    left: 22px;
    bottom: 0;
    width: 103px;
    height: 114px;
  }
  
  .home-second .images__geometry-21 {
    bottom: 19px;
    left: 16px;
    width: 30px;
    height: 32px;
    z-index: 1;
  }

  /* Home Third */
  .home-third .images__geometry-1 {
    left: 246px;
    top: 147px;
    width: 44px;
    height: 44px;
  }

  .home-third .images__floral {
    width: 85px;
    height: 74px;
    left: 30px;
    top: 0;
    transform: scale(-1, 1);
  }

  .home-third .images__geometry-2 {
    left: 13px;
    bottom: 19px;
    width: 93px;
    height: 115px;
  }
  
  .home-third .images__geometry-21 {
    bottom: 0;
    left: 35px;
    width: 48px;
    height: 42px;
    z-index: 1;
  }

  /* Home Fourth */
  .home-fourth .images__geometry-1 {
    left: 9px;
    top: 11px;
    width: 58px;
    height: 54px;
  }

  .home-fourth .images__floral {
    width: 122px;
    height: 101px;
    left: 0;
    bottom: 0;
  }

  .home-fourth .images__geometry-2 {
    left: 222px;
    top: 21px;
    width: 52px;
    height: 47px;
  }
  
  .home-fourth .images__geometry-21 {
    bottom: 20px;
    left: 189px;
    width: 85px;
    height: 96px;
  }



}